<hibernate-configuration>
    <session-factory>
        <!-- Database connection details -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/emp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Deepak_992019</property>

        <!-- Other Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Entity scanning -->
        <mapping class="com.example.model.Student" />
    </session-factory>
</hibernate-configuration>
